.header {
  background: $dark-orange;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size ;
}

.header__title {
  color: $off-white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
